doctype html
html(lang='pt-br')
    head
        meta(charset='ISO-8859-1')
        block title
            title Green Hug
        block style
            link(rel='stylesheet', href='/stylesheets/app.css')
        block script
    body
        block content