//
   Created by Robson on 07/04/2015.
extends ../layout
block title
    title Esqueci a Senha

block content
    if result
        .alert(class='alert-#{result.status}')
            p= result.message

    form(action='/esquecisenha', method='post', id='form-forgot')
        div
            label.sr-only(for='email') Digite seu E-mail
            input(type='email', id='email', name='email', placeholder='Digite seu E-mail', required='required')
        button(type='submit') Enviar
