// Created by Alejandro Felipe on 16/04/2015.

extends ../layout
block title
  title Recuperar a Senha

  block content
    if result.status
      .alert(class='alert-#{result.status}')
        p= result.message

    form(action='/redefinirsenha', method='post', id='form-redefine')
      div
         label.sr-only(for='pass') Nova Senha
         input(type='password', id='pass', name='pass', placeholder='Nova Senha', required='required')
      div
         label.sr-only(for='conf-pass') Repetir Nova Senha
         input(type='password', id='conf-pass', name='confpass', placeholder='Repetir Nova Senha')
      input.sr-only(type='hidden', id='token', name='token' value='#{result.token}')
      button(type='submit') Enviar
